@font-face {
    font-family: 'thaisans_neueextra_light';
    src: url('../fonts/thaisans/thaisansneue-extralight_0-webfont.woff2') format('woff2'),
         url('../fonts/thaisans/thaisansneue-extralight_0-webfont.woff') format('woff'),
         url('../fonts/thaisans/thaisansneue-extralight_0-webfont.svg#thaisans_neueextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
}
body{
	margin: 0;
	height: 100%;
	background: #151521;
	font-family: Montserrat,True Light;
	font-size: 25px;
}
#wrapper{
	width: 95%;
	height: auto;
	float: right;
}
#menu_left{
	width: 5%;
	height: 100%;
	background: #2C1BFF;
	float: left;
	position: fixed;
}
#nav{
	width: 100%;
	height: 65px;
	background: rgba(0,0,0,0.3);
	float: left;
}
#section_top{
  width: 95%;
    height: 162px;
    background-image:url(../img/bg02.png);
    float: right;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-top: 46px;
}
#section_top p{
  font-size: 22px;
line-height: 51px;
letter-spacing: 1.6px;
margin: 24px 0 -5px 0
}
#section_top span{

    color: #59A3E8;
    font-size: 22px;
    line-height: 5px;
    font-family: True Bold;
    letter-spacing: 1.4px;


}
#content{
  width: 97%;
  height: 1480px;
  background: #1B1B2B;
  float: right;
}
#section_left{
  width: 41%;
    height: auto;
    float: left;
    padding-left: 9%;
    padding-top: 2%;
}
#section_right{
  width: 40%;
height: 1000px;
float: left;
padding-top: 7.5%;
padding-left: 2%;
padding-right: 5%;
}
#topic{
  font-size: 28px;
color: #fff;
letter-spacing: 1.6px;
margin: 24px 0 -5px 0;
    padding-bottom: 16px;
}
.n1{
  width: 42px;
    height: 38px;
    float: left;
    border-bottom: 6px solid blue;
  }
.photo {
  margin: 45px 106px 10px;
  width: 70px;
}
.addpic_button{
  float: right;
  width: 32px;
  margin: 10px;

}
#section_form_left{
	width: 100%;
	height: 100%;

}
#section_form_left p{
  color: #59A3E8;
      height: 10px;
      padding: 3px 0 0 0;
      font-family: Thonburi;
}
input[type='submit']{
  background: #2c1bff;
      border: 1px #133869 solid;
      height: 35px;
      margin: 11px 0 0 224px;
      width: 45%;
      color: #fff;
      padding-left: 2%;
      letter-spacing: 1.2px;
      font-family: True Light;
      font-size: 20px;
}
input[type='text']{
	background: #1F1F2D;
	border: 1px #133869 solid;
  height: 35px;
  width: 80%;
  color: #fff;
  padding-left: 2%;
  letter-spacing: 1.2px;
  font-family: True Light;
  font-size: 20px;
}
input[type='number']{
	background: #1F1F2D;
	border: 1px #133869 solid;
  height: 35px;
  width: 80%;
  color: #fff;
  padding-left: 2%;
  letter-spacing: 1.2px;
  font-family: True Light;
  font-size: 20px;
}

input[type="datetime-local"],input[type="date"],input[type="time"]{
  background: #1F1F2D;
	border: 1px #133869 solid;
  height: 35px;
  width: 80%;
  color: #fff;
  padding-left: 2%;
  letter-spacing: 1.2px;
  font-family: True Light;
  font-size: 20px;
  -webkit-appearance:none;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator {
  color: #fff;
  background: none;
}
input[type="date"]:hover:after {
  color: #555;
  padding-right: 5px;
}
input[type="date"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type="datetime-local"]:hover::-webkit-calendar-picker-indicator {
  color: #fff;
  background: none;
}
input[type="datetime-local"]:hover:after {
  color: #555;
  padding-right: 5px;
}
input[type="datetime-local"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
select{
  background: #1F1F2D;
	border: 1px #133869 solid;
  height: 35px;
  width: 83%;
  color: #fff;
  padding-left: 2%;
  letter-spacing: 1.2px;
  font-family: True Light;
  font-size: 20px;
  -webkit-appearance:none;
}

#section_right p{
  color: #59A3E8;
  height: 10px;
  padding: 3px 0 0 0;
  font-family: Thonburi;
}
#img_workshop{
  width: 300px;
    height: 300px;
    color: #33333f;
    border: solid 1px hsla(210, 81%, 40%, 0.4);
    text-align: center;
    background: #1F1F2D;
}
textarea{
	background: #1F1F2D;
	border: 1px #133869 solid;
	height: 193px;
	width: 98%;
	color: #fff;
	resize: none;
	padding-left: 2%;
	padding-top: 7px;
	font-family: 'True Light';
	font-size: 20px;
}
#map{
	height: 400px;
	width:100%;
	background: #1F1F2D;
	border: 1px #133869 solid;
	margin-top: 50px;
}
.button_add_image{
  width: 32px;
  height: 32px;
  background-image: url('../img/Addbutton2.jpg');
  background-size: 100%;
  float: right;
}
input[type="file"]{
  width: 32px;
  height: 32px;
  background: red;
  opacity: 0;
}
